*{
    margin: 0;
    padding: 0;
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;900&display=swap');


$primary-color: #151727;
@mixin glassmorph {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-size: cover;
    height: 100vh;
    @include flexcenter();
    main{
        height: 550px;
        h1{
            text-align: center;
            @include glassmorph();
            width: 35%;
        }
    }
}
.main-content{
    @include glassmorph();
    padding: 10px;
    .notes-grid{
        ul li{
            display: flex;
            justify-content: space-between;
            border: 2px solid $primary-color;
            padding-bottom: 20px;
            height: 30px;
            button{
                cursor: pointer;
                font-size: 28px;
                text-align: center;
                height: 30px;
                width: 30px;
                background-color: white;
            }    
        }
    }
    #new-note-btn, #clear-btn{
        cursor: pointer;
        background-color: $primary-color;
        color: white;
        height: 50px;
        width: 50px;
    }
    .top-box{
        @include flexcenter();
    }
}