@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .nono {
  -webkit-animation: nono 0.5s ease;
          animation: nono 0.5s ease;
}
body main {
  height: 550px;
}
body main .titleHeader {
  background-image: url("../img/round/morning-header.png");
  background-size: cover;
  background-position: bottom;
  height: 220px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}
body main .titleHeader .toggle {
  width: 100%;
}
body main .titleHeader .toggle input {
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background-color: #D1F6FF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
body main .titleHeader .toggle input:checked {
  background-color: #2D5068;
  box-shadow: inset 0px 2px 8px 1px rgba(255, 255, 255, 0.15);
}
body main .titleHeader .toggle input:before {
  content: "";
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
body main .titleHeader .toggle input:checked:before {
  left: 21px;
}
body main h1 {
  margin-top: 80px;
  color: #151727;
}
body main .clear {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
body main .clear .confirms .confirm-yes {
  color: greenyellow;
  cursor: pointer;
  margin-right: 10px;
}
body main .clear .confirms .confirm-no {
  margin-left: 10px;
  color: red;
  cursor: pointer;
}
body main .clear .hide {
  display: none;
}
body main .clear #clear-btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.358);
  height: 30px;
  width: 30px;
}

.main-content {
  max-height: 295px;
  overflow-y: auto;
  background-color: white;
  padding: 10px;
  transition: 0.5s;
}
.main-content #text-area {
  font-size: 18px;
  padding: 3px;
  outline: none;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  max-height: 72px;
  min-width: 250px;
  max-width: 400px;
  margin-right: 15px;
  line-height: 20px;
}
.main-content .txt-area-btns i {
  font-size: 20px;
}
.main-content .notes-grid ul {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.main-content .notes-grid ul .deleted {
  -webkit-animation: deleted 0.5s ease forwards;
          animation: deleted 0.5s ease forwards;
}
.main-content .notes-grid ul .checked {
  color: green;
}
.main-content .notes-grid ul .checked:before {
  position: absolute;
  font-weight: 800;
  content: "OK!";
  right: 0;
  padding-right: 60px;
}
.main-content .notes-grid ul .teste {
  display: flex;
}
.main-content .notes-grid ul li {
  color: #151727;
  -webkit-animation: start 0.5s ease forwards;
          animation: start 0.5s ease forwards;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #D1F6FF;
  height: 50px;
  align-items: center;
  transform: translateX(-80px);
  transition: all 0.5s;
  cursor: pointer;
}
.main-content .notes-grid ul li .btns-div {
  position: absolute;
  right: 0;
  padding: 10px;
}
.main-content .notes-grid ul li button {
  cursor: pointer;
  font-size: 100%;
  text-align: center;
  height: 30px;
  background-color: white;
  width: 30px;
  border: 1px solid #151727;
  transition: all 1s;
}
.main-content .notes-grid ul li button :hover {
  color: red;
}
.main-content #new-note-btn {
  cursor: pointer;
  background-color: white;
  color: #151727;
  height: 50px;
  border: 1px solid #151727;
  width: 50px;
}
.main-content #new-note-btn :hover {
  color: rgb(69, 176, 3);
}
.main-content .top-box {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .top-box .no {
  border: 1px solid #151727;
  -webkit-animation: no 0.5s ease;
          animation: no 0.5s ease;
}

@-webkit-keyframes start {
  to {
    transform: translateX(0px);
  }
}

@keyframes start {
  to {
    transform: translateX(0px);
  }
}
@-webkit-keyframes deleted {
  from {
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    color: red;
    transform: translateX(-100px);
  }
}
@keyframes deleted {
  from {
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    color: red;
    transform: translateX(-100px);
  }
}
@-webkit-keyframes nono {
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes nono {
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes no {
  10% {
    border: 2px solid red;
  }
  50% {
    border: 2px solid red;
  }
  90% {
    border: 1px solid red;
  }
  100% {
    border: 1px solid #151727;
  }
}
@keyframes no {
  10% {
    border: 2px solid red;
  }
  50% {
    border: 2px solid red;
  }
  90% {
    border: 1px solid red;
  }
  100% {
    border: 1px solid #151727;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 0.6);
}/*# sourceMappingURL=main.css.map */