*{
    margin: 0;
    padding: 0;
    list-style: none;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;900&display=swap');


$primary-color: #151727;
$secondary-color: #D1F6FF;

$tertiary-color: #2D5068;

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-size: cover;
    height: 100vh;
    @include flexcenter();
    .nono{
        animation: nono 0.5s ease;
    }
    main{
        .titleHeader{
            
            background-image: url('../img/round/morning-header.png');
            background-size: cover;
            background-position: bottom;
            height: 220px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transition: .5s;
            .toggle{
                width: 100%;
                input{
                    height: 20px;
                    width: 40px;
                    border-radius: 12px;
                    background-color: $secondary-color;
                    appearance: none;
                    box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                    transition: .3s;
                    position: relative;
                }
                input:checked{
                    background-color: $tertiary-color;
                    box-shadow: inset 0px 2px 8px 1px rgba(255, 255, 255, 0.15)
                }
                input:before{
                    content: "";
                    background-color: white;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    border-radius: 50%;
                    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.25);
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all .3s;
                }
                input:checked:before{
                    left: 21px;
                }
            }
        }
        height: 550px;
        h1{
            margin-top: 80px;
            color: $primary-color; 
        }
        .clear{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: 100px;
            .confirms{
                .confirm-yes{
                    color: greenyellow;
                    cursor: pointer;
                    margin-right: 10px;
                }
                .confirm-no{
                    margin-left: 10px;
                    color: red;
                    cursor: pointer;
                }
            }
            .hide{
                display: none;
            }
            #clear-btn{
                cursor: pointer;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.358);
                height: 30px;
                width: 30px;
            }
        } 
    }
}
.main-content{
    max-height: 295px; 
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    transition: .5s;
    
    
    #text-area{
        font-size: 18px;
        padding: 3px;
        outline: none;
        display: block;
        width: 100%;
        overflow: hidden;
        resize: both;

        min-height: 40px;
        max-height: 72px;
        min-width: 250px;
        max-width: 400px;

        margin-right: 15px;
        line-height: 20px;
    }
    .txt-area-btns{
        i{
            font-size: 20px;
        }
    }
    .notes-grid{
        ul{
            display: flex;
            flex-direction: column;
            overflow: auto;
            .deleted{
                animation: deleted 0.5s ease forwards;
            }
            .checked{
                color: green;
                
            }
            .checked:before{

                position: absolute;
                font-weight: 800;
                content: 'OK!';
                right: 0;
                padding-right: 60px;
            }
                
            .teste{
                display: flex;
            }
        }
        ul li{
            color: $primary-color;
            animation: start 0.5s ease forwards;
            padding-left: 10px;
            display: flex;
            justify-content: space-between;
            border-bottom: 3px solid $secondary-color;
            height: 50px;
            align-items: center;
            transform: translateX(-80px);
            transition: all 0.5s;
            cursor: pointer;
            .btns-div{
                position: absolute;
                right: 0;
                padding: 10px;
            }
            
            button{
                cursor: pointer;
                font-size: 100%;
                text-align: center;
                height: 30px;
                background-color: white;
                width: 30px;
                border: 1px solid $primary-color;
                transition: all 1s;
                :hover{
                    color: red;
                }
            }    
        }
    }
    #new-note-btn{
        cursor: pointer;
        background-color: white;
        color: $primary-color;
        height: 50px;
        border: 1px solid $primary-color;
        width: 50px;
        :hover{
            color: rgb(69, 176, 3);
        }
    }
    .top-box{
        padding: 10px;
        .no{
            border: 1px solid $primary-color;
            animation: no 0.5s ease;
        }
        @include flexcenter();
    }
}
@keyframes start {
    to{
        transform: translateX(0px);
    }
}
@keyframes deleted {
    from{
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        color: red;
        transform: translateX(-100px);
    }
}
@keyframes nono {
    10%{
        transform: translateX(-10px);
    }
    20%{
        transform: translateX(10px);
    }
    40%{
        transform: translateX(-10px);
    }
    60%{
        transform: translateX(10px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes no {
    10%{
        border: 2px solid red;
    }
    50%{
        border: 2px solid red;
    }
    90%{
        border: 1px solid red;
    }
    100%{
        border: 1px solid $primary-color;
    }
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background: #9999;
  }